# DONT TOUCH THESE (or do, who am I to tell you)
# Ports for NGINX
PORT_1=80
PORT_2=443

# CHANGE THE BELOW PARAMETERS TO FIT YOUR DEPLOYMENT
# Especially chnage the the DB_ROOT_PASSWORD for public deployments
# Email is required for Certbot Certificate creation/renewal

IP=127.0.0.1
DOMAIN=example.com
EMAIL=user@example.com
DB_ROOT_PASSWORD=your_very_strong_password
DB_NAME=your_database_name